button{
    font-size: 30px;
    background-color: whitesmoke;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: lightblue;
    color: lightcoral;
}
h1{
    font-size: 40px;
    background-color: lightblue;
    color: indianred;
    padding: 10px;
}